.letter.active {
    animation: activate-text 0.5s forwards;
}

.letter {
    opacity: 0;
    position: relative;
}

@keyframes activate-text {
    0% { bottom: -0.4em; opacity: 0; }
    100% { bottom: 0; opacity: 1; }
}

.disabled {
    animation: deactivate-text 0.5s forwards;
    position: relative;
    opacity: 1;
}

@keyframes deactivate-text {
    0% { bottom: 0; opacity: 1; }
    100% { bottom: 0.4em; opacity: 0; }
}
