.button {
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(50vh - 24px);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  &:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  background: #fff;
  color: #000;
  user-select: none;
  &:hover {
    .buttonInner {
      opacity: 0.7;
    }
  }
  .buttonInner {
    transition: opacity .25s ease-in-out;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  background: #000;
  height: 100vh;
  top: 0;
  left: -100vw;
  user-select: none;
  transition: left .3s ease;
  color: #fff;
  &:hover {
    cursor: crosshair;
  }
  &.active {
    left: 0;
    .img {
      background-size: cover !important;
      background-position: center;
      background-repeat: no-repeat !important;
      @media all and (min-width: 1024px) {
        width: 150%;
      }
      @media all and (max-width: 1023px){
        width: 100%;
        flex-grow: 1;
      }
    }
    @media all and (min-width: 1024px) {
      flex-direction: row;
    }
    @media all and (max-width: 1023px){
      flex-direction: column-reverse;
    }
  }
  .container {
    padding: 30px;
  }
}