.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.minFullHeight {
    width: 100vw;
    min-height: 100vh;
}

.flex__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec2 {
    .teammate {
        flex-grow: 1;
        text-align: center;
    }
}
